<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.demo">
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="Examples"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.examples.demo.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.examples.demo.ex1.MoveLoggerActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.examples.demo.ex2.TouchListenerActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.examples.demo.ex3.TouchDelegateActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.examples.demo.ex4.TouchForwardActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.examples.demo.ex5.TwoDimensionScrollActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.examples.demo.ex6.TwoDimensionGestureScrollActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.examples.demo.ex7.MultitouchActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.examples.demo.ex8.TouchInterceptActivity" />
        <activity android:name="com.examples.demo.ex9.ImageActivity"/>
        <activity android:name="com.examples.demo.ex10.ScrollerActivity"/>
        <activity android:name="com.examples.demo.ex11.ScrollerActivity2"/>
        <activity android:name="com.examples.demo.ex12.TouchActivity"/>
        <activity android:name="com.examples.demo.ex13.WaterActivity"/>
        <activity android:name=".ex14.PullToRefreshActivity"/>
        <activity android:name=".ex15.PhotoViewActivity"/>
        <activity android:name=".ex16.SVGTestActivity"/>
        <activity android:name=".ex17.CanvasLayerActivity"/>
        <activity android:name=".ex18.CanvasActivity"
            android:exported="true"/>
    </application>

</manifest>